[submodule "source/mod-host"]
	path = source/mod-host
	url = https://github.com/moddevices/mod-host.git
[submodule "source/mod-ui"]
	path = source/mod-ui
	url = https://github.com/moddevices/mod-ui.git
[submodule "source/mod-sdk"]
	path = source/mod-sdk
	url = https://github.com/moddevices/mod-sdk.git
[submodule "source/browsepy"]
	path = source/browsepy
	url = https://github.com/moddevices/browsepy.git
