[Desktop Entry]
Name=MOD-Panel
GenericName=MOD Control Panel
Comment=Control panel to start MOD Host + UI and SDK services
Exec=mod-panel
Icon=mod-panel
Terminal=false
Type=Application
Categories=AudioVideo;Qt;
Version=1.0
